@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --darkBlue: rgb(21, 26, 35);
  --boxShadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --transition: all 0.5s ease-in-out;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  transition: var(--transition);
}
body {
  background-color: var(--darkBlue);
  color: white;
  background-image: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100%;
}
header {
  width: 85%;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  margin: 2vh auto;
  align-items: center;
  box-shadow: var(--boxShadow);
  padding: 0 1rem;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}
.logo {
  font-size: 1.8rem;
  font-weight: 600;
}
nav {
  display: none;
}
.nav-icons {
  font-size: 1.5rem;
}
/* ------ LOGIN ------- */
.login-main-container {
  width: 85%;
  margin: 0 auto;
}
#login-form {
  width: 50%;
  max-width: 400px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--darkBlue);
  margin: 15vh auto 0;
  height: 400px;
}
#login-form h1 {
  text-align: center;
  margin: 1.5rem;
}
#login-form > div {
  border: 1px solid var(--darkBlue);
  width: 80%;
}
#login-form > div > input {
  border: 1px solid var(--darkBlue);
  width: 89%;
  border: none;
  background-color: none;
}
/* ------ LOGIN ------- */

/* ========== MEDIA QUERIES ========= */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  header {
    padding: 0 2rem;
  }
  .logo {
    font-size: 1.5rem;
    font-weight: 600;
  }
  nav {
    display: flex;
  }
  .nav-icons {
    display: none;
  }
  nav a {
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  nav a button {
    text-decoration: none;
    color: var(--darkBlue);
    padding: 4px 6px;
    font-size: 14px;
    background-color: white;
    border: 1px solid var(--darkBlue);
    border-radius: 4px;
  }
  nav a button:hover {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    transition: var(--transition);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    height: 12vh;
    margin-top: 4vh;
  }
  .logo {
    font-size: 2rem;
  }
  nav a {
    font-size: 1rem;
  }
  nav a button {
    font-size: 1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo {
    font-size: 2.3rem;
  }
  nav a {
    font-size: 1.3rem;
    padding-left: 1.5rem;
  }
  nav a button {
    font-size: 1.3rem;
    padding: 6px 8px;
  }
}
/* ========== MEDIA QUERIES ========= */
